.RegisterForm {
  background: #fff;
  border: var(--border);
  padding: 8rem 35rem; /* This padding seems excessive. Consider adjusting it for responsiveness. */
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  margin: 0rem;
}

.RegisterForm h1 {
  font-size: 2.5rem; /* Similar to the login form's h3 size */
  text-transform: uppercase;
  color: var(--black);
  text-align: center;
}

.RegisterForm div {
  margin-bottom: 15px;
}

.RegisterForm p {
  margin: 8px 0;
  font-size: 1.345rem; /* Similar to the login form's paragraph size */
  color: var(--black);
}

.RegisterForm input[type="text"],
.RegisterForm select,
.RegisterForm textarea.note {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: var(--border); /* Aligning input borders with the login form */
  border-radius: 0.5rem;
  color: var(--black);
}

.RegisterForm textarea.note {
  height: 60px;
  resize: vertical;
}

/* Reusing button styles from the login form for consistency */
.RegisterForm .btn-resgiter button {
  width: 100%;
  padding: 10px;
  background-color: #222831;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.RegisterForm .btn-resgiter button:hover {
  background-color: #3b424b;
}

.RegisterForm .ctn-1 {
  display: flex;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  border: var(--border); /* Aligning input borders with the login form */
  border-radius: 0.5rem;
  color: var(--black);
}
