
.loginPage-form-container form{
    background:#fff;
    border:var(--border);
    /* width:40rem; */
    padding:8rem 35rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    margin:0rem;
}

.loginPage-form-container form h3{
    font-size: 2.5rem;
    text-transform: uppercase;
    color:var(--black);
    text-align: center;
}

.loginPage-form-container form span{
    display: block;
    font-size: 1.5rem;
    padding-top: 1rem;
}

.loginPage-form-container form .box{
    width: 100%;
    margin:.7rem 0;
    font-size: 1.6rem;
    border:var(--border);
    border-radius: .5rem;
    padding:1rem 1.2rem;
    color:var(--black);
    text-transform: none;
}

.loginPage-form-container form .checkbox{
    display:flex;
    align-items: center;
    gap:.5rem;
    padding:1rem 0;
}

.loginPage-form-container form .checkbox label{
    font-size: 1.5rem;
    color:var(--light-color);
    cursor: pointer;
}

.loginPage-form-container form .btn{
    text-align: center;
    width:100%;
    margin:1.5rem 0;
}

.loginPage-form-container form p{
    padding-top: .8rem;
    color:var(--light-color);
    font-size: 1.5rem;
}

.loginPage-form-container form p a{
    color:var(--main-color);
    text-decoration: underline;
}

.loginPage-form-container #close-loginPage-btn{
    position: absolute;
    top:1.5rem; right:2.5rem;
    font-size: 5rem;
    color:var(--black);
    cursor: pointer;
}